{# 

    Cette page décrit le template html du mail envoyé en cas de modification de l'adresse mail. 

    Variables: 
     - user : le compte dont l'adresse a été modifié
     - last : l'adresse mail précédente
     - operator : l'opérateur (administrateur) de la modification. 

    Les mails contiennent aussi la variable base_url, qui correspond à la variable d'environnement "EMAILER_LINKS_BASE_URL"

    Voir aussi src/CustomFeatures/Emailer.php. 

#}<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1> Bonjour {{ user.surname }} {{ user.name }}, </h1>
        <p>
            Nous vous informons que votre adresse mail a été changée de {{ last }} à {{ user.email }} par l'administrateur {{ operator.surname }} {{ operator.name }}. 
        </p>
        <hr></hr>
        <small>Cet email est un email automatique. Merci de ne pas y répondre. </small>
    </body>
</html>