<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %} - Nooble</title>
        <link rel="stylesheet" href="{{ asset("styles/index.css") }}"/>
        <link rel="icon" type="image/png" href="{{ asset("images/logo.png") }}">
        <script src="{{ asset("scripts/index.js") }}"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="header-logo">
                <img src="{{ asset("images/logo.png") }}" class="logo-medium">
                <h1>
                    <a href="/">Nooble</a>
                </h1>
            </div>
            <span class="header-space">

            </span>

            {% if base_config.displayAdminCheckboxInHeader %}

            <div id="header-admin-prof-switch">
                <span>Administrateur</span>
                <input type="checkbox">
                <span class="checkbox-style"></span>
            </div>

            {% endif %}

            <div id="header-user-icon">
                <img src="data:img/png;base64,{{ base_config.current_user_image }}"/>
                <span>
                    {{ base_config.current_user.surname }} {{ base_config.current_user.name }}
                </span>
            </div>
        </header>
        <div id="root">
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>Thanks for using Nooble</footer>
        </div>
    </body>
</html>

