<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %} - Nooble</title>
        <link rel="stylesheet" href="{{ asset("styles/index.css") }}"/>
        <link rel="icon" type="image/png" href="{{ asset("images/logo.png") }}">
        <script src="{{ asset("scripts/index.js") }}" type="module"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {# En-tête de la page #}
        <header>
            {# Logo principal #}
            <div id="header-logo">
                <img src="{{ asset("images/logo.png") }}" class="logo-medium">
                <h1>
                    <a href="/">Nooble</a>
                </h1>
            </div>
            <span class="header-space"></span>

            {# Checkbox dans le cas où l'utilisateur serait à la fois professeur et administrateur #}
            {% if "ROLE_ADMIN" in base_config.current_user.roles and "ROLE_TEACHER" in base_config.current_user.roles %}

            <div id="header-admin-prof-switch">
                <span>Administrateur</span>
                <div class="checkbox">
                    <input id="admin-checkbox" type="checkbox"{% if app.request.cookies.get('admin_enabled') is same as "true" %} checked{% endif %}/>
                    <span class="checkbox-style"></span>
                </div>
            </div>

            <span class="header-space"></span>

            {% endif %}

            {# Lien vers sa propre page de profile, qui contient le raccourcis vers les paramètres #}
            <a id="header-user-icon" href="/profile">
                <img src="data:img/png;base64,{{ base_config.current_user_image }}"/>
                <span>
                    {{ base_config.current_user.surname }} {{ base_config.current_user.name }}
                </span>
            </a>
        </header>
        {# Contenu principal #}
        <div id="root">
            <main>
                {% block body %}{% endblock %}
            </main>
            <footer>Thanks for using Nooble</footer>
        </div>
    </body>
</html>

